:root {
  --white: #ffffff;
  --black: #222826;

  --blue-10: #E2E5FF;
  --blue-20: #8A8FCB;
  --blue-30: #7C87FF;

  --gray-10: #F6F6F6;
  --gray-20: #B0B0B0;
  --gray-30: #DAE1DF;
  --gray-40: #757A79;
}


