include ../components/mixins/page
include ../components/mixins/cardFullwidth
include ../components/mixins/primaryCard
include ../components/mixins/card
include ../components/mixins/checkboxButton


+page('about')
    .container
        .about
            .about__body
                h1 О журнале
                p
                    | Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству,&nbsp;
                    a(href="#") формат оформления ссылок
                    | : участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                h2 H2 Заголовок второго уровня который тоже может быть на несколько строк и вообще длинным

                p
                    | Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству,&nbsp;
                    a(href="#") формат оформления ссылок
                    | : участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                h3 H3 Заголовок второго уровня который тоже может быть на несколько строк и вообще длинным и занимать несколько строк

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                ol
                    li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин
                    li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                ul
                    li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин
                    li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин

                blockquote
                    p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин
                    h5  Илон Маск, директор Теслы и Твиттера

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                img(src='assets/images/img.png')
                p.wp-caption-text Подпись под картинкой. Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                hr

                h3 Ссылки

                p «Название источника», Автор И.О. —&nbsp;
                    a(href="#") [ссылка на источник]
                p «Название источника», Автор И.О. —&nbsp;
                    a(href="#") [ссылка на источник]
                p «Название источника», Автор И.О. —&nbsp;
                    a(href="#") [ссылка на источник]

            .about__sidebar
                .about__sidebar-body
                    p.about__sidebar-block.about__sidebar-title Юридическая Информация
                    p.about__sidebar-block Текст с юридической инфой тут нужно написать юридическую информацию на юридическом языке а дальше перечислить все необходимые с юридичсекой точки зрения документы
                    a.about__sidebar-block(href="#") Политика в отношении обработки персональных данных
                    a.about__sidebar-block(href="#") Форма согласия на обработку персональных данных
                    a.about__sidebar-block(href="#") Договор публичной оферты
                    a.about__sidebar-block(href="#") Еще какой-нибудь документ

