include ../components/mixins/page
include ../components/mixins/cardFullwidth
include ../components/mixins/primaryCard
include ../components/mixins/card
include ../components/mixins/checkboxButton


+page('articles')
    .container
        include ../components/search
    .container
        .page-block
            +cardFullwidth(
              'article.html',
              'Организация внутреннего финансового контроля наличия и движения НМА в бюджетных учреждениях',
              'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.',
              'assets/images/img.png',
              ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
              'hero',
            )

            section.articles-table
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего...',
                  '',
                  ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                )
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего...',
                  'assets/images/img.png',
                )
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  '',
                  '',
                  ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                )
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  '',
                  'assets/images/img.png',
                  ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                )
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  '',
                  'assets/images/img.png',
                  ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                )
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  '',
                  'assets/images/img.png',
                  ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                )
            +cardFullwidth(
              'article.html',
              'Организация внутреннего финансового контроля наличия и движения НМА в бюджетных учреждениях',
              'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.',
              'assets/images/img.png',
              ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
            )
            +cardFullwidth(
              'article.html',
              'Организация внутреннего финансового контроля наличия и движения НМА в бюджетных учреждениях',
              'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.',
              'assets/images/img.png',
              ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
            )


    +primaryCard(
      'Организация внутреннего финансового контроля наличия и движения НМА в бюджетных учреждениях',
      'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.',
      'Константинопольский К.К.',
      'assets/images/img.png',
      ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика']
    )

    .container
        .page-block
            section.articles-table
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего...',
                  '',
                  ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                )
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего...',
                  'assets/images/img.png',
                )
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  '',
                  '',
                  ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                )
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  '',
                  'assets/images/img.png',
                  ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                )
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  '',
                  'assets/images/img.png',
                  ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                )
                +card(
                  'Заголовок статьи о экономической теории и еще других важных вещах',
                  '',
                  'assets/images/img.png',
                  ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                )


    .container
        +button('btn-blue btn-big pagination-btn', 'pagination-btn') Показать еще
