include ../components/mixins/page
include ../components/mixins/cardFullwidth
include ../components/mixins/primaryCard
include ../components/mixins/card
include ../components/mixins/checkboxButton


+page('articles')
    .container
        .article
            .article__back
                a.btn.article__back-btn(href="articles.html")
                    svg(viewBox="0 0 24 24" width="24" height="24")
                        use(xlink:href="#arrow-back")
            .article__body
                h1 H1 Статья, которую нужно выделить очень сильно тк пост проплачен и вообще

                .hashtag-cloud
                    a.btn.btn-rounded(href="articles.html#") Интервью
                    a.btn.btn-rounded(href="articles.html#") Экономика
                    a.btn.btn-rounded(href="articles.html#") История
                    a.btn.btn-rounded(href="articles.html#") Экономика
                    a.btn.btn-rounded(href="articles.html#") Экономическая теория
                    a.btn.btn-rounded(href="articles.html#") Интервью


                img(src='assets/images/img.png')
                p
                    | Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству,&nbsp;
                    a(href="#") формат оформления ссылок
                    | : участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                h2 H2 Заголовок второго уровня который тоже может быть на несколько строк и вообще длинным

                p
                    | Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству,&nbsp;
                    a(href="#") формат оформления ссылок
                    | : участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                h3 H3 Заголовок второго уровня который тоже может быть на несколько строк и вообще длинным и занимать несколько строк

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                ol
                    li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин
                    li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                ul
                    li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин
                    li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин

                blockquote
                    p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин
                    h5  Илон Маск, директор Теслы и Твиттера

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                img(src='assets/images/img.png')
                p.wp-caption-text Подпись под картинкой. Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин

                p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

                hr

                h3 Ссылки

                p «Название источника», Автор И.О. —&nbsp;
                    a(href="#") [ссылка на источник]
                p «Название источника», Автор И.О. —&nbsp;
                    a(href="#") [ссылка на источник]
                p «Название источника», Автор И.О. —&nbsp;
                    a(href="#") [ссылка на источник]

            .article__sidebar
                .article__sidebar-header
                    h2 Еще по теме
                .article__sidebar-body
                    +card(
                      'Заголовок статьи о экономической теории и еще других важных вещах',
                      'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего...',
                      '',
                      ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                    )
                    +card(
                      'Заголовок статьи о экономической теории и еще других важных вещах',
                      'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего...',
                      '',
                      ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                    )
                    +card(
                      'Заголовок статьи о экономической теории и еще других важных вещах',
                      'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего...',
                      '',
                      ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                    )
                    +card(
                      'Заголовок статьи о экономической теории и еще других важных вещах',
                      'Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, формат оформления ссылок: участие в сообществе или общем деле, удовлетворение своего...',
                      '',
                      ['Экономическая теория', 'Интервью', 'Мнение эксперта', 'Экономика'],
                    )


