include ../components/mixins/page

+page('politic', "Политика конфиденциальности")
    .container
        .politic-page
            h1 Политика конфиденциальности
            p
                | Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству,&nbsp;
                a(href="#") формат оформления ссылок
                | : участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

            h2 H2 Заголовок второго уровня который тоже может быть на несколько строк и вообще длинным

            p
                | Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству,&nbsp;
                a(href="#") формат оформления ссылок
                | : участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

            p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

            p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

            h3 H3 Заголовок второго уровня который тоже может быть на несколько строк и вообще длинным и занимать несколько строк

            p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

            ol
                li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин
                li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин

            p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

            ul
                li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин
                li Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин

            p Действительно, зачем те или иные авторы пишут статьи? Ответ не так прост, кроме обычного графоманства, тяги к сочинительству, существует еще масса причин: участие в сообществе или общем деле, удовлетворение своего самолюбия, хвастовство, исследование вопросов и задач, обращение к массе людей, реклама… Это лишь небольшой список причин того, почему автор садится и начинает долбить по клавиатуре.

