
footer.footer
    .container
        .footer__content
            a.footer__logo
                svg(viewBox="0 0 131 24" width="131" height="24")
                    use(xlink:href="#logo-black")
            .footer__left
                .footer__left-col
                    a.footer__left-link(href="index.html") Актуальное
                    a.footer__left-link(href="articles.html") Статьи
                    a.footer__left-link(href="articles.html#search") Поиск
                .footer__left-col
                    a.footer__left-link(href="about.html") О журнале
                    a.footer__left-link(href="contacts.html") Контакты

            .footer__right
                a.footer__right-link(href="#")
                    svg(viewBox="0 0 24 24" width="24" height="24")
                        use(xlink:href="#telegram")
                    | @upjournal
                a.footer__right-link(href="#")
                    svg(viewBox="0 0 24 24" width="24" height="24")
                        use(xlink:href="#mail")
                    | up@upjournal.ru

